@using Microsoft.AspNetCore.Identity
@using WheelsMarket.Data.Models
@model WheelsMarket.Web.ViewModels.ProfileViewModels.UserAdsList
@inject UserManager<ApplicationUser> UserManager


@{
    this.ViewData["Title"] = "Моите Обяви";
}

<div class=card-deck>
    <div class="row">
        @foreach (var item in Model.AllAds)
        {
            <ul class="cards">
                <li class="cards_item">
                    <div class="card" style="width: 14rem; position: center">
                        <img class="card-img-top" src="@item.MainPicture" alt="Ads">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: 700">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                            <a asp-controller="Ads" asp-action="Ad" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                            @if (item.UserId == UserManager.GetUserId(User))
                            {
                                <a asp-controller="Ads"asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteAd">
                                    Изтрий
                                </button>
                                <!-- Modal -->
                                <div class="modal" id="deleteAd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Изтрии обявата</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Искате ли да изтриете тази обява?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                                <form>
                                                    <button type="submit" asp-controller="Ads" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Изтрий</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}
